Repository cigaretteclient/cigarette, pull requests merged in 2025-08, with the labels that each got.

#21 feat: pre-test modular hud & closing anims
  .gitignore
  build.gradle
  src/main/java/io/github/waqfs/Cigarette.java
  src/main/java/io/github/waqfs/config/Config.java
  src/main/java/io/github/waqfs/gui/CigaretteScreen.java
  src/main/java/io/github/waqfs/gui/RenderUtil.java
  src/main/java/io/github/waqfs/gui/hud/modules/ModuleListDisplay.java
  src/main/java/io/github/waqfs/gui/hud/notification/Notification.java
  src/main/java/io/github/waqfs/gui/hud/notification/NotificationDisplay.java
  src/main/java/io/github/waqfs/gui/hud/notification/internal/NotificationWithEasingProgress.java
  src/main/java/io/github/waqfs/gui/hud/wmark/WatermarkDisplay.java
  src/main/java/io/github/waqfs/gui/widget/DraggableWidget.java
  src/main/java/io/github/waqfs/gui/widget/DropdownWidget.java
  src/main/java/io/github/waqfs/gui/widget/ScrollableWidget.java
  src/main/java/io/github/waqfs/gui/widget/SliderWidget.java
  src/main/java/io/github/waqfs/gui/widget/ToggleWidget.java
  src/main/java/io/github/waqfs/lib/Color.java
  src/main/java/io/github/waqfs/lib/Shape.java
  src/main/java/io/github/waqfs/module/BaseModule.java
  src/main/java/io/github/waqfs/module/ui/GUI.java
  src/main/java/io/github/waqfs/module/ui/ModuleList.java
  src/main/java/io/github/waqfs/module/ui/Notifications.java
  src/main/java/io/github/waqfs/module/ui/Watermark.java
Labels: scope: gui/config

#19 feat: zombies lucky chest & powerup esp
  src/main/java/io/github/waqfs/Cigarette.java
  src/main/java/io/github/waqfs/agent/ZombiesAgent.java
  src/main/java/io/github/waqfs/config/Config.java
  src/main/java/io/github/waqfs/module/zombies/PowerupESP.java
  src/main/resources/cigarette.mixins.json
Labels: type: feature, scope: zombies

#23 chore: add pr and main branch builds
  .github/workflows/build-test.yml
Labels: type: chore

#35 feat: bedwars auto block-in keybind
  src/main/java/dev/cigarette/agent/BedwarsAgent.java
  src/main/java/dev/cigarette/config/Config.java
  src/main/java/dev/cigarette/module/bedwars/AutoBlockIn.java
  src/main/java/dev/cigarette/module/bedwars/AutoTool.java
  src/main/java/dev/cigarette/precomputed/BlockIn.java
Labels: type: feature, scope: bedwars

#44 feat: TargetHUD/general purpose bar & preset providers
  src/main/java/dev/cigarette/Cigarette.java
  src/main/java/dev/cigarette/agent/ZombiesAgent.java
  src/main/java/dev/cigarette/config/Config.java
  src/main/java/dev/cigarette/gui/hud/bar/BarDisplay.java
  src/main/java/dev/cigarette/gui/hud/bar/api/BarWidget.java
  src/main/java/dev/cigarette/gui/hud/bar/api/BarWidgetProvider.java
  src/main/java/dev/cigarette/gui/hud/bar/api/BarWidgetRegistry.java
  src/main/java/dev/cigarette/gui/hud/bar/providers/BedwarsProvider.java
  src/main/java/dev/cigarette/gui/hud/bar/providers/DefaultProviders.java
  src/main/java/dev/cigarette/gui/hud/bar/providers/MurderMysteryProvider.java
  src/main/java/dev/cigarette/gui/hud/bar/providers/NearbyPlayersProvider.java
  src/main/java/dev/cigarette/gui/hud/bar/providers/ZombiesProvider.java
  src/main/java/dev/cigarette/gui/hud/bar/widgets/EntityChipWidget.java
  src/main/java/dev/cigarette/gui/hud/wmark/WatermarkDisplay.java
  src/main/java/dev/cigarette/lib/Shape.java
  src/main/java/dev/cigarette/module/bedwars/EntityESP.java
  src/main/java/dev/cigarette/module/murdermystery/PlayerESP.java
  src/main/java/dev/cigarette/module/ui/GUI.java
  src/main/java/dev/cigarette/module/ui/ModuleList.java
  src/main/java/dev/cigarette/module/ui/Notifications.java
  src/main/java/dev/cigarette/module/ui/TargetHUD.java
  src/main/java/dev/cigarette/module/ui/Watermark.java
  src/main/java/dev/cigarette/module/zombies/Aimbot.java
Labels: scope: gui/config

#49 fix: rewrite cooldown logic on revive aura
  src/main/java/dev/cigarette/module/zombies/ReviveAura.java
Labels: type: feature, scope: zombies

#48 mix: dropdown sorting, various bug fixes, and module instancing
  src/main/java/dev/cigarette/Cigarette.java
  src/main/java/dev/cigarette/agent/DevWidget.java
  src/main/java/dev/cigarette/agent/ZombiesAgent.java
  src/main/java/dev/cigarette/config/Config.java
  src/main/java/dev/cigarette/gui/CategoryInstance.java
  src/main/java/dev/cigarette/gui/CigaretteScreen.java
  src/main/java/dev/cigarette/gui/hud/modules/ModuleListDisplay.java
  src/main/java/dev/cigarette/gui/widget/BaseWidget.java
  src/main/java/dev/cigarette/gui/widget/ColorDropdownWidget.java
  src/main/java/dev/cigarette/gui/widget/ColorSquareWidget.java
  src/main/java/dev/cigarette/gui/widget/DraggableWidget.java
  src/main/java/dev/cigarette/gui/widget/DropdownWidget.java
  src/main/java/dev/cigarette/gui/widget/KeybindWidget.java
  src/main/java/dev/cigarette/gui/widget/PassthroughWidget.java
  src/main/java/dev/cigarette/gui/widget/ScrollableWidget.java
  src/main/java/dev/cigarette/gui/widget/SliderWidget.java
  src/main/java/dev/cigarette/gui/widget/TextWidget.java
  src/main/java/dev/cigarette/gui/widget/ToggleKeybindWidget.java
  src/main/java/dev/cigarette/gui/widget/ToggleWidget.java
  src/main/java/dev/cigarette/mixin/PlayerEntityMixin.java
  src/main/java/dev/cigarette/module/BaseModule.java
  src/main/java/dev/cigarette/module/bedwars/AutoBlockIn.java
  src/main/java/dev/cigarette/module/bedwars/AutoTool.java
  src/main/java/dev/cigarette/module/bedwars/Bridger.java
  src/main/java/dev/cigarette/module/bedwars/DefenseViewer.java
  src/main/java/dev/cigarette/module/bedwars/EntityESP.java
  src/main/java/dev/cigarette/module/bedwars/FireballESP.java
  src/main/java/dev/cigarette/module/combat/AutoClicker.java
  src/main/java/dev/cigarette/module/combat/JumpReset.java
  src/main/java/dev/cigarette/module/combat/PerfectHit.java
  src/main/java/dev/cigarette/module/keybind/AddGlassBlock.java
  src/main/java/dev/cigarette/module/keybind/BreakBlock.java
  src/main/java/dev/cigarette/module/keybind/VClip.java
  src/main/java/dev/cigarette/module/murdermystery/GoldESP.java
  src/main/java/dev/cigarette/module/murdermystery/PlayerESP.java
  src/main/java/dev/cigarette/module/render/PlayerESP.java
  src/main/java/dev/cigarette/module/render/ProjectileESP.java
  src/main/java/dev/cigarette/module/ui/GUI.java
  src/main/java/dev/cigarette/module/ui/ModuleList.java
  src/main/java/dev/cigarette/module/ui/Notifications.java
  src/main/java/dev/cigarette/module/ui/TargetHUD.java
  src/main/java/dev/cigarette/module/ui/Watermark.java
  src/main/java/dev/cigarette/module/zombies/Aimbot.java
  src/main/java/dev/cigarette/module/zombies/PowerupESP.java
  src/main/java/dev/cigarette/module/zombies/ReviveAura.java
  src/main/java/dev/cigarette/module/zombies/ZombieESP.java
  src/main/resources/fabric.mod.json
Labels: scope: gui/config

#50 fix: weapon ammo not registering properly
  src/main/java/dev/cigarette/lib/WeaponSelector.java
Labels: type: feature, scope: zombies

#34 fix: murder mystery esp failing to detect murderers
  src/main/java/dev/cigarette/agent/MurderMysteryAgent.java
  src/main/java/dev/cigarette/lib/WorldL.java
Labels: scope: murder mystery
